@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: rgb(14,8,113);
    background: linear-gradient(90deg, rgba(14,8,113,1) 0%, rgba(19,150,180,1) 34%, rgba(29,90,185,1) 50%, rgba(38,144,199,1) 57%, rgba(106,230,255,1) 100%);
    background-image: url(../galaxy.jpg);
    
}